body{
  margin: 0px;
  padding: 0px;
  background-color: lightblue;
}
h1{
  color: rgb(4, 4, 172);
  padding: 2px;
  text-align: center;
}
h2{
  color: rgb(4, 4, 172);
  padding: 2px;
}
.Homepage ul{
 background-color: darkblue;
 list-style: none;
 padding: 5px;
 margin: 5px;
 width: 50px;
 border-radius: 5px;
}
.Homepage a{
  text-decoration: none;
  text-align: center;
  display: block;
  color: white;
}
nav ul{
  background-color: rgb(23, 165, 23);
  list-style: none;
  padding: 5px;
  margin: 5px;
  overflow: hidden;
  width: 350px;
  border-radius: 5px;
}
nav a{
  color: yellow;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 20px;
  transition: 0.5s;
}
nav a:hover{
  background-color: rgb(0, 134, 0);
  transform: scale(1.2);
}
nav li{
  float: left;
}

.box {
  background-color: yellowgreen;
  border: 2px solid rgb(7, 7, 136);
  position: fixed;
  width: 345px;
  height: 390px;
  margin-left: 8px;
  margin-bottom: 2px;
  border-radius: 10px;
  overflow: auto;
  scrollbar-width: thin;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.box ul{
  list-style: none;
  padding: 0px;
  margin: 5px;
}
.box a{
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  transition: 0.6s;
}
.box li{
  display: block;
  padding: 10px;
  margin-bottom: 10px;
}
.box a:hover{
  background-color: rgb(40, 110, 115);
}
.Image-box {
  background-color:darkgray;
  border: 2px solid rgb(93, 101, 93);
  position: fixed;
  left: 400px;
  top: 135px;
  width: 950px
}
.Image-box img{
  width: 950px;
  height: 505px;
  padding: 0px;
  margin: 0px;
}